section{
    width:100%;
    height:80vh;
    background-color:gray;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.ToDoList_container{
    width:50%;
    height: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#ToDoList_add_input{
    display: flex;
    flex-direction: row;
}

#ToDoList_list_output{
    display: flex;
    flex-direction: column;
}

.ToDoList_list_items{
    display: flex;
    flex-direction: row;
}

#item{
    cursor: pointer;
}

#item.done{
    text-decoration: line-through;
}

#item.undone{
    text-decoration: unset;
}

button{

    background: none;
    border: none;
    cursor: pointer;
}